name: test

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:

jobs:
  raku:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
        raku-version:
          - 'latest'
          - '2021.12'
        exclude:
          - os: windows-latest
            raku-version: 'latest'
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: Raku/setup-raku@v1
        with:
          raku-version: ${{ matrix.raku-version }}
      - name: Install Libraries (MacOS)
        if: matrix.os == 'macOS-latest'
        run: brew install openssl
      - name: Install Dependencies
        run: |
          zef install --/test App::Prove6
          zef install --deps-only .
      - name: Run Tests
        run: prove6 -I. t
